.intro-home {
	position: relative;
	margin-left: 50%;
	color: #fdfdfd;
	top: 150px;
}

.contact {
	display: flex;
	justify-content: center;
	border: 4px solid #167ce9;
	background-color: #167ce9;
	color: #fdfdfd;
	border-radius: 10px;
	font-family: "DM sans";
	cursor: pointer;
	font-size: 23px;
	padding: 11px 30px;
	text-decoration: none;
	transition: 0.5s;
	margin-top: 8%;
	width: 20%;
}

.contact:hover {
	background-color: transparent;
	border: 4px solid #167ce9;
	color: #167ce9;
}

.helpcenter img {
	width: 100%;
}

.helpcenter {
	list-style: none;
	display: flex;
	gap: 5%;
	margin: 5% 5% 5% 5%;
}

.helpcenter1 {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	background-image: url(/images/studenten.png);
	background-size: 100%;
	background-repeat: no-repeat;
	flex: 1;
	height: 20vw;
}

.helpcenter2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-image: url(/images/wat\ bieden\ we\ aan.png);
	background-size: 100%;
	background-repeat: no-repeat;
	flex: 1;
}

.helpcenter3 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-image: url(/images/vacatrures.png);
	background-size: 100%;
	background-repeat: no-repeat;
	flex: 1;
}

.helpcenter h1 {
	font-family: "dmsans-bold";
	color: #fdfdfd;
	font-size: 3vw;
	margin: 0;
	padding-top: 5vw;
	text-align: center;
}

.button1,
.button2,
.button3 {
	display: flex;
	gap: 5px;
}

.button1 a,
.button2 a,
.button3 a {
	flex: 1;
	font-family: "DM sans";
	text-decoration: none;
	color: #fdfdfd;
	font-size: 1.5vw;
	background-color: rgba(255, 255, 255, 0.297);
	padding: 15px;
	text-align: center;
	transition: 0.4s;
}

.button1 a:hover,
.button2 a:hover,
.button3 a:hover {
	background-color: #167ce9;
	border-bottom: none;
}

.visie {
	display: flex;
	margin-left: 2%;
}

.visie img {
	width: 97%;
}

.text-visie {
	display: inline-block;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #167ce9;
	border-radius: 30px;
	color: #fdfdfd;
	position: absolute;
	padding: 30px 80px 30px 80px;
	left: 15%;
	margin-top: 25%;

	max-width: 40%;
}
.text-visie P {
	font-family: "DM sans";
	font-size: 1.2vw;
	line-height: 1.5;
}

.text-visie h1 {
	display: inline-block;
	font-family: "dmsans-bold";
	font-weight: 300;
	font-size: 3.8vw;
	width: 100%;
	margin: 0;
}

.ooo {
	background-color: #ffc300;
	display: flex;
	justify-content: center;
	padding: 50px 0px 50px 0px;
	margin-top: 215px;
}

.ooo h1 {
	color: #fdfdfd;
	font-family: "dmsans-bold";
	font-size: 70px;
	font-size: 3.8vw;
	font-weight: 300;
	margin: 0;
}

.studie-aanbod {
	display: flex;
	flex-direction: column;
}

.pic4 {
	height: 400px;
	display: flex;
	width: 100%;
	height: 700px;
}
.studie-aanbod a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.studie-aanbod a {
	font-family: "dmsans-heavy";
	color: #fdfdfd;
	text-decoration: none;
	font-size: 5vw;
	transition: 0.4s;
}

.studie-aanbod a:hover {
	color: #fdfdfdb9;
}
.studie-aanbod a:hover,
.bruh1 {
	width: 22%;
}

.bruh1 {
	background-image: url(/images/Asset\ 2.png);
	background-repeat: no-repeat;

	width: 20%;
	text-align: center;
}
.bruh2 {
	background-image: url(/images/Asset\ 3.png);
	background-repeat: no-repeat;

	width: 20%;
}

.bruh3 {
	background-image: url(/images/Asset\ 5.png);
	background-repeat: no-repeat;

	width: 20%;
}

.bruh4 {
	background-image: url(/images/Asset\ 6.png);
	background-repeat: no-repeat;

	width: 20%;
}
.bruh5 {
	background-image: url(/images/Asset\ 7.png);
	background-repeat: no-repeat;

	width: 20%;
}
.button-studie {
	padding: 50px 0px 50px 0px;
	background-color: #ffc300;
}
.button-studie a {
	display: flex;
	justify-content: center;
	border: 4px solid #167ce9;
	background-color: #167ce9;
	color: #fdfdfd;
	border-radius: 10px;
	font-family: "DM sans";
	cursor: pointer;
	font-size: 1.4vw;
	padding: 11px 30px;
	text-decoration: none;
	transition: 0.5s;
	margin-left: 38%;
	width: 20%;
}
.button-studie a:hover {
	background-color: transparent;
	border: 4px solid #167ce9;
	color: #167ce9;
}

.ignareeh {
	display: flex;
	margin-right: 100px;
	margin-left: 100px;
	padding-bottom: 15%;
	padding-top: 15%;
}

.ignareeh img {
	padding-right: 60px;
	border-right: 5px solid #ffc300;
	width: 500px;
}
.text-ignareeh {
	margin-left: 60px;
}

.text-ignareeh h1 {
	font-family: "dmsans-heavy";
}

.text-ignareeh p {
	font-size: 1.2vw;
	line-height: 1.5;
}

.blauw {
	color: #167ce9;
	font-size: 3.8vw;
}
.button-ignareeh {
	padding: 50px 0px 50px 0px;
}
.button-ignareeh a {
	border: 4px solid #ffc300;
	background-color: #ffc300;
	color: #fdfdfd;
	border-radius: 10px;
	font-family: "DM sans";
	cursor: pointer;
	font-size: 1.4vw;
	padding: 11px 30px;
	text-decoration: none;
	transition: 0.5s;
}
.button-ignareeh a:hover {
	background-color: transparent;
	border: 4px solid #ffc300;
	color: #ffc300;
}

@media (max-width: 1015px) {
	.visie {
		display: flex;
		flex-direction: column;
		margin: 0;
		align-items: center;
	}
	.text-visie {
		display: flex;
		justify-content: center;

		display: block;
		left: 0;

		position: static;
		margin: 0;
		margin-top: 20px;

		max-width: 70%;
		text-align: center;
	}

	.text-visie p {
		max-width: 70%;
		align-items: center;
		margin: 0 auto;
	}
	.ignareeh {
		display: flex;
		justify-content: center;
		gap: 9vw;
		margin: 0;
	}
	.ignareeh img {
		padding-right: 4%;
		width: 40vw;
	}

	.ooo {
		margin-top: 5%;
	}
	.text-ignareeh {
		margin-left: 0;
		max-width: min-content;
	}

	.pic4 {
		height: 400px;
	}

	.bruh1,
	.bruh5 {
		margin: 0;
	}
}

@media (max-width: 480px) {
	.bro {
		height: 300px;
	}
	.helpcenter {
		display: flex;

		flex-direction: column;
		margin: 5% 5% 0% 5%;
		height: 200vw;
		gap: 10%;
	}

	.pic4 {
		display: flex;
		flex-direction: column;
	}

	.bruh1 {
		background-image: url(/images/cropped\ it.png);
	}
	.bruh2 {
		background-image: url(/images/cropped\ lat.png);
	}
	.bruh3 {
		background-image: url(/images/cropped\ cbw.png);
	}
	.bruh4 {
		background-image: url(/images/cropped\ mus.png);
		margin-left: -1px;
	}
	.bruh5 {
		background-image: url(/images/cropped\ sci.png);
	}
	.bruh1,
	.bruh2,
	.bruh3,
	.bruh4,
	.bruh5 {
		width: 100%;
		background-size: 100%;
		height: 200px;
	}

	.helpcenter h1 {
		font-size: 20px;
	}

	.helpcenter a {
		font-size: 12px;
	}

	.ooo {
		margin-top: 0px;
	}
	.ooo h1 {
		font-size: 30px;
	}

	.visie {
		overflow: hidden;
	}
	.visie img {
		width: 80%;
		overflow: hidden;
		margin-bottom: 50px;
		order: 2;
		border-top: 4px solid #ffc300;
		padding-top: 20px;
	}

	#tpBtn {
		-webkit-box-shadow: 3px 16px 26px 11px rgba(0, 0, 0, 0.36);
		-moz-box-shadow: 3px 16px 26px 11px rgba(0, 0, 0, 0.36);
		box-shadow: 3px 16px 26px 11px rgba(0, 0, 0, 0.36);
	}
	.text-visie {
		background-color: transparent;
		padding: 20px 0px 20px 0px;
		max-width: 100%;
		border-radius: 0;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		color: black;
	}
	.text-visie h1 {
		order: 1;
		font-size: 30px;
		margin-bottom: 20px;
		color: #167ce9;
	}
	.text-visie p {
		justify-content: center;
		font-size: 13px;
		margin: 0;
		order: 3;
	}

	.ignareeh {
		display: flex;
		flex-direction: column;
		border-right: none;
		align-items: center;
		gap: 15px;
	}
	.ignareeh img {
		padding-right: 0px;
		padding-bottom: 30px;
		border-bottom: 5px solid #ffc300;
		border-right: none;
		width: 80vw;
	}
	.text-ignareeh {
		margin: 0;
		min-width: 100%;
		text-align: center;
		align-items: center;
		display: flex;
		flex-direction: column;
	}
	.blauw {
		font-size: 30px;
	}
	.text-ignareeh h1 {
		font-size: 20px;
	}
	.text-ignareeh p {
		display: flex;
		justify-content: center;
		max-width: 80%;
		font-size: 13px;
	}

	.button-studie {
		margin: 0;
		display: flex;
		justify-content: center;
	}

	.button-studie a {
		font-size: 13px;
		width: 50%;
		margin: 0;
	}

	.button-ignareeh a {
		font-size: 13px;
	}

	.helpcenter2,
	.helpcenter3 {
		margin-top: -75px;
	}

	.helpcenter1,
	.helpcenter2 {
		margin-left: -1px;
	}
}
