.introjb {
	display: flex;
	justify-content: left;
	padding-bottom: 7%;
}

.introjb img {
	width: 20%;
}

.janB {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80%;
	margin: auto;
	align-items: center;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.janInfo {
	display: flex;
	justify-content: space-around;
}

.janInfo img {
	width: 50%;
	border-right: solid 5px #ffc300;
	padding-right: 3%;
}

.janInfo p {
	flex: 1;
}

.janText {
	flex-direction: column;
	padding-left: 3%;
}

.headergeel {
	text-align: center;
	background-color: #e6e6e6;
	padding-bottom: 20%;
	display: flex;
	flex-direction: row;
	text-align: left;
}

.headergeel p {
	margin: 2.5%;
}

.janIntro h1 {
	margin-left: 100%;
	width: 100%;
}
