@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;200;400;500;600;700;800;900&display=swap");
@import url("https://use.typekit.net/xog3ojh.css");

body {
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-family: "Bell MT", serif;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background-color: #c2ffbd;
}

h1 {
	font-family: "Bell MT", serif;
}

h2 {
	font-family: "minion-pro", serif;
	font-weight: bolder;
	font-size: 40px;
}

h3 {
	font-family: "Bell MT", serif;
}

h4 {
	font-family: "minion-pro", serif;
	font-weight: 700;
	font-style: italic;
}

.wrapper {
	width: 70%;
	background-color: none;
}

.row {
	display: flex;
	justify-content: space-between;
}

/* COLORPALET */

.bigTitle {
	font-family: "Bell MT", serif;
	font-size: 60px;
}

.colorpalet {
	display: flex;
	flex-direction: column;
}

.lightgreen {
	width: 100px;
	height: 100px;
	background-color: #9dcc02;
	color: #0b6b38;
	display: flex;
	align-items: center;
	justify-content: center;
}

.darkgreen {
	width: 100px;
	height: 100px;
	background-color: #0b6b38;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cremewhite {
	width: 100px;
	height: 100px;
	background-color: #f4f5e9;
	color: #0b6b38;
	display: flex;
	align-items: center;
	justify-content: center;
}

.white {
	width: 100px;
	height: 100px;
	background-color: #ffff;
	color: #0b6b38;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer {
	width: 100px;
	height: 100px;
	background-color: #d3d1c2;
	color: #0b6b38;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn1 {
	background-color: #0b6b38;
	color: white;
	border: 5px solid #0b6b38;
	border-radius: 10px;
	padding: 5px;
}

.btn1:hover {
	background-color: #9dcc02;
	color: white;
	border: 5px solid #9dcc02;
	border-radius: 10px;
	padding: 5px;
	cursor: pointer;
}

.btn2 {
	background-color: white;
	color: #0b6b38;
	border: 5px solid white;
	border-radius: 10px;
	padding: 5px;
}

.btn2:hover {
	background-color: white;
	color: #9dcc02;
	border: 5px solid white;
	border-radius: 10px;
	padding: 5px;
	cursor: pointer;
}

/* TYPOGRAFIE */

.segoe {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
	width: 32%;
	margin: 5px;
}

/* NAVIGATIE */

.logoW {
	width: 15%;
}

.logoDG {
	width: 15%;
}

.logoLG {
	width: 15%;
}

.navigatie {
	display: flex;
	flex-direction: column;
}

.header {
	color: white;
	background-color: #0b6b38;
	width: 100%;
	padding: 0 0 6vh 0;
	display: flex;
	flex-direction: column;
	background-image: url("/images/school_normalGreen.png");
	background-repeat: no-repeat;
	background-size: cover;
}

nav {
	width: 60%;
	margin: 1% auto 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav .logo {
	width: 5%;
}

nav .logo img {
	width: 70%;
}

nav .link {
	color: white;
	text-decoration: none;
	font-size: 13px;
}

nav .link:hover {
	text-decoration: underline;
}

nav .btn {
	background-color: white;
	text-decoration: none;
	color: #0b6b38;
	font-size: 13px;
	border-radius: 3px;
	padding: 0.5% 1.5%;
}

nav .btn:hover {
	color: #9dcc02;
	text-decoration: underline;
}

nav .smartschool {
	background-image: linear-gradient(360deg, red, orange);
	text-decoration: none;
	color: white;
	font-weight: 600;
	font-size: 18px;
	border-radius: 3px;
	padding: 0.5% 1%;
}

nav .smartschool:hover {
	transform: translatey(-1.5px);
}

.dropdown-menu {
	background-color: white;
	width: 6.8%;
	opacity: 0.8;
	position: absolute;
	margin: 10% 0 0 15.2%;
	border-radius: 0 0 8px 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dropdown-menu a {
	text-decoration: none;
	color: #0b6b38;
	font-size: 14px;
	padding: 10px 10px;
}

.dropdown-menu a:hover {
	text-decoration: underline;
}

.header .content {
	width: 60%;
	margin: 10% auto 0 auto;
}

.header .content h1 {
	font-size: 85px;
	line-height: 1;
}

.header .content p {
	width: 60%;
	font-weight: 300;
}