@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

@font-face {
    font-family: "ppneueworld";
    src: url("fonts/PPNeueWorld-Regular.otf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}


a {}

.btn {}