body {
	background-image: url(images/MicrosoftTeams-image.png);
	background-position-y: 45%;
	background-position-x: 55%;
	background-size: 120%;
	/* background-image: url(images/Untitled-1.2.jpg); */
}

a {
	text-decoration: none;
	color: rgb(255, 255, 255);
}
img {
	width: 125px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}
h1 {
	font-size: 40px;
	font-family: "Monaco", sans-serif;
}
h2 {
	font-size: 25px;
	font-family: serif;
	color: white;
	text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8);
}
.name,
.name2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: -20px;
}
.buttons {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-top: 80px;
}
.but1-2 {
	flex-direction: column;
}
.but3-4 {
	flex-direction: column;
}
.kleuter {
	background-color: rgba(26, 90, 1, 0.005);
	padding: 15px;
	border-style: solid;
	text-align: center;
	border-radius: 10px;
	transition: 0.7s;
	-webkit-box-shadow: 0px 7px 40px 0px rgba(0, 0, 0, 0.67);
	-moz-box-shadow: 0px 7px 40px 0px rgba(0, 0, 0, 0.67);
	box-shadow: 0px 7px 40px 0px rgba(0, 0, 0, 0.67);
}
.lager {
	background-color: rgba(26, 90, 1, 0.005);
	padding: 15px;
	border-style: solid;
	text-align: center;
	border-radius: 10px;
	transition: 0.7s;
	margin-top: 25px;
	-webkit-box-shadow: 0px 7px 40px 0px rgba(0, 0, 0, 0.67);
	-moz-box-shadow: 0px 7px 40px 0px rgba(0, 0, 0, 0.67);
	box-shadow: 0px 7px 40px 0px rgba(0, 0, 0, 0.67);
}
.secundair {
	background-color: rgba(26, 90, 1, 0.005);
	padding: 15px;
	border-style: solid;

	text-align: center;
	border-radius: 10px;

	transition: 0.7s;
	-webkit-box-shadow: 0px 7px 40px 0px rgba(0, 0, 0, 0.67);
	-moz-box-shadow: 0px 7px 40px 0px rgba(0, 0, 0, 0.67);
	box-shadow: 0px 7px 40px 0px rgba(0, 0, 0, 0.67);
}
.jezu {
	background-color: rgba(26, 90, 1, 0.005);
	padding: 15px;
	border-style: solid;

	text-align: center;
	border-radius: 10px;

	transition: 0.7s;
	margin-top: 25px;
	-webkit-box-shadow: 0px 7px 40px 0px rgba(0, 0, 0, 0.67);
	-moz-box-shadow: 0px 7px 40px 0px rgba(0, 0, 0, 0.67);
	box-shadow: 0px 7px 40px 0px rgba(0, 0, 0, 0.67);
}

.kleuter:hover {
	background-color: rgba(255, 192, 0, 255);
	border-radius: 10px;
	-webkit-box-shadow: 0px 7px 40px -200px rgba(0, 0, 0, 0.67);
	-moz-box-shadow: 0px 7px 40px -200px rgba(0, 0, 0, 0.67);
	box-shadow: 0px 7px 40px -200px rgba(0, 0, 0, 0.67);
}
.lager:hover {
	background-color: rgba(255, 192, 0, 255);
	border-radius: 10px;
	-webkit-box-shadow: 0px 7px 40px -200px rgba(0, 0, 0, 0.67);
	-moz-box-shadow: 0px 7px 40px -200px rgba(0, 0, 0, 0.67);
	box-shadow: 0px 7px 40px -200px rgba(0, 0, 0, 0.67);
}
.secundair:hover {
	background-color: rgba(255, 192, 0, 255);
	border-radius: 10px;
	-webkit-box-shadow: 0px 7px 40px -200px rgba(0, 0, 0, 0.67);
	-moz-box-shadow: 0px 7px 40px -200px rgba(0, 0, 0, 0.67);
	box-shadow: 0px 7px 40px -200px rgba(0, 0, 0, 0.67);
}
.jezu:hover {
	background-color: rgba(255, 192, 0, 255);
	border-radius: 10px;
	-webkit-box-shadow: 0px 7px 40px -200px rgba(0, 0, 0, 0.67);
	-moz-box-shadow: 0px 7px 40px -200px rgba(0, 0, 0, 0.67);
	box-shadow: 0px 7px 40px -200px rgba(0, 0, 0, 0.67);
}

@media (min-width: 700) {
	.buttons {
		display: flex;
		flex-direction: row;
	}
}
